{% extends "mainapp/base_page.html" %}

{% block title %}
    Регистрация
{% endblock %}

{% block lead %}
    <div class="row">
      <div class="col s12" style="text-align: center;">
        Для регистрации заполните следующие поля:
      </div>
    </div>
{% endblock %}


{% block navbar_active %}
<li><a href="/">Главная</a></li>
<li><a href="/feedback">Отзывы</a></li>
<li class = "active"><a href="/register">Регистрация</a></li>
<li><a href="/login_page">Вход</a></li>
{% endblock %}

{% block mainbody %}
<div class="left-align">
<div class="row">
    <form class="col s12" method="post">
      <div class="row">
        <div class="col s12">
          Имя пользователя (от 3 до 50 символов):
          <div class="row">
        <div class="input-field col s6">
          <input placeholder="Петр Петров" id="username" name = "username" type="text" class="validate" required = "">
            <span class="helper-text" data-error="Ошибка!" data-success=""></span>
        </div>
        </div>
      </div>

    <div class="row">
        <div class="col s12">
          Адрес электронной почты:
          <div class="row">
        <div class="input-field col s6">
          <input placeholder="doktor_nauk@mail.ru" id="email" name = "email" type="text" class="validate" required = "">
            <span class="helper-text" data-error="Ошибка!" data-success=""></span>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
          Ваш пароль (не меньше 5 символов):
          <div class="row">
        <div class="input-field col s6">
          <input placeholder="Ваш пароль:" id="pass1" name = "pass1" type="text" class="validate" required = "">
            <span class="helper-text" data-error="Ошибка!" data-success=""></span>
        </div>

    <div class="row">
        <div class="col s12">
          Повторите пароль:
          <div class="row">
        <div class="input-field col s6">
          <input placeholder="Повторите пароль:" id="pass2" name = "pass2" type="text" class="validate" required = "">
            <span class="helper-text" data-error="Ошибка!" data-success=""></span>
        </div>
    </div>


    <div class="row">
        <button class="btn btn-primary green" formaction="/register" type="submit">Зарегистрироваться</button>
    </div>
    </form>
  </div>
</div>
{% endblock %}